
body {
    color: #323232;
}

h1 {
    font-weight: 800;
}

.heroimg {
    background: url("../../static/images/heroimg.png");
    width: 700px;
    height: 400px;
    background-size: cover;
    border-radius: 7px;
    border-radius: 135px;
}

.navbg {
    padding: 1em;
}

.navbg~hr {
    margin-top: 0;
}

.navbg a {
    text-decoration: none;
    color: black;
}

.rounded-border {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.testimonals-index h5 {
    font-weight: bold;
    margin-top: 1rem;
}

/* iPhone X - Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {

    .testimonals-index {
        text-align: center;
        margin: auto;
    }

    .testimonals-index h4 {
        font-size: 1.6rem;
    }

    .teamwork-img {
        width: 25rem;
    }

    .testimonals-img, .heroimg  {
        width: 100%;
    }

    .how-does-it-work h4 {
        margin-bottom: 2.5rem;
    }

    .how-does-it-work h4 span  {
        margin: 0 0.5rem 2rem 0;
    }
}
