
body {
    color: #323232;
}

.container {

}

h1 {
    font-weight: 800;
}

.heroimg {
    background: url("../../static/images/heroimg.png");
    width: 700px;
    height: 400px;
    background-size: cover;
    border-radius: 7px;
}

.navbg {
    padding: 1em;
}

.navbg~hr {
    margin-top: 0;
}

.navbg a {
    text-decoration: none;
    color: black;
}