{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-md">
        <h1>Burgarkartan: Din Gastronomiska GPS till BurgarParadiset!</h1>

        <p>Välkommen till Burgarkartan, din ultimata guide till alla saker som har med burgare att göra. Varför kalla det en guide när det mer liknar en gastronomisk GPS, du kanske frågar? Jo, för att här på Burgarkartan, strävar vi efter att guida dig till burgarparadiset, en bit i taget!</p>

        <p>Våra användare är våra smakspårare, våra burgarkonnoissörer, våra allvarliga - men ack så mätta - äventyrare! De spanar ständigt ut över det kulinariska landskapet och rapporterar tillbaka till basen med saftiga, krispiga, smälta-ost-fyllda recensioner från burgarställen långt och brett.</p>


        <p>Men vänta, det blir bättre! Varje recension är inbäddad i vår interaktiva karta, så du kan se varje burgares geografiska hemvist, från gourmetrestauranger till foodtrucks gömda i bakgatorna. Vi är som ditt burgarlustiga kommando: Vi lämnar ingen burgare bakom! Följ spåret av recensioner, och det kan leda dig till en juvel som du annars skulle ha missat!</p>


        <p>Burgarkartan är mer än bara en recensionssajt - det är en community, en broderskap av burgarälskare, en rörelse. Här samlas vi alla som kan förstå glädjen av att hitta den perfekta burgaren, den där saftiga, salta, knapriga, mjuka, varma, välbalanserade förföriska kombinationen som får hjärtat att sjunga.</p>


        <p>Så om du är redo att upptäcka nya smaker, om du vill hänga med likasinnade burgarälskare, om du tror att burgare är mer än bara mat - de är en livsstil - då, min vän, är du redo för Burgarkartan! Packa ditt äventyrssinne och din aptit - det är dags att ge sig ut på en smakresa!</p>
    </div>
    <div class="col-md">
        <img src="../../static/images/about-burger.png" width="640px" />
    </div>
</div>
{% endblock %}