{% extends 'base.html' %}
{% block content %}
{% load static %}

<br />
<br />

<div class="row">
    <div class="col-md">
        <h1 style="padding: 1rem; font-size: 4rem; line-height: 5.5rem;font-weight:700;">Jakten på den <span style="font-weight: bold; color:#E94B3C">bästa</span> burgaren börjar här!</h1>
    </div>
    <div class="col-md">
        <div class="heroimg"></div>
    </div>
</div>

<br />
<br />

<br />
<br />

<div class="row text-center">
    <div class="col">
        <h1>Hur funkar det?</h1>
    </div>
</div>
<br />
<div class="row how-does-it-work">
    <div class="col-md">
        <h4>
            <span style="background: #ff1919; border-radius:7px;padding: 0.3rem; color: white; font-weight: bold;">1</span> 
            Gå till ett hamburgarhak
        </h4>     
    </div>

    <div class="col-md">
        <h4>
            <span style="background: #ff7a19; border-radius:7px;padding: 0.3rem; color: white; font-weight: bold;">2</span> 
            Beställ och käka en burgare
        </h4>        
    </div>

    <div class="col-md">
        <h4><span style="background: #b35f16; border-radius:7px;padding: 0.3rem; color: white; font-weight: bold;">3</span>  Reflektera djupt över din upplevelse</h4>        
    </div>

    <div class="col-md">
        <h4><span style="background: #5616b3; border-radius:7px;padding: 0.3rem; color: white; font-weight: bold;">4</span> Dela med dig och skriv en recension! Burgarkartan visar endast hak som våra användare har besökt och recenserat</h4>
    </div>

</div>


<br />
<br />


<div class="row" >
    <div class="col">
        <img src="../../static/images/burgare2.png" class="teamwork-img" width="600" />
    </div>
    <div class="col" style="padding: 2rem; border-radius: 7px;">
        <center>
            <h2 style="font-weight: 700; line-height: 2.7rem; padding-top: 5rem;">Burgarkartan är din kulinariska GPS, guidande dig rakt till stjärnorna av stans hamburgarvärld. Med vår interaktiva karta och aptitväckande recensioner, blir jakten på den perfekta burgaren mer än en måltid – det blir ett äventyr!</h3>
        </center>
    </div>
</div>

<br />
<br />

<br />
<br />


<div class="row text-center">
    <div class="col">
        <h1>Vad våra användare tycker om Burgarkartan</h1>
        <br />
        <br />
    </div>
</div>
<br />
<div class="row testimonals-index">
    <div class="col-md">
        <img src="../../static/images/man1.png" class="testimonals-img rounded-border" width="200px;" />
        <h5>Michael</h5>
        <h4>Det bästa som har hänt sedan AI revolutionen</h4>
        <br />
        <br />
    </div>

    <div class="col-md">
        <img src="../../static/images/woman2.png" class="testimonals-img rounded-border" width="200px;" />
        <h5>Linda</h5>
        <h4>Att käka burgare har aldrig varit så här kul!</h4>
        <br />
        <br />
    </div>

    <div class="col-md">
        <img src="../../static/images/woman1.png" class="testimonals-img rounded-border" width="200px;" />
        <h5>Rebecca</h5>
        <h4>Tack vare Burgarkartan så har jag hittat de bästa burgarhaken i stan</h4>
        <br />
        <br />
    </div>

    <div class="col-md">
        <img src="../../static/images/man2.png" class="testimonals-img rounded-border" width="200px;" />
        <h5>Ellis</h5>
        <h4>Jag gillar sajten, alltid kul att hitta nya ställen man inte visste fanns</h4>
    </div>

</div>

<br />
<br />

<br />
<br />


<div class="row text-center">
    <div class="col">
        <h1>Team Work</h1>
    </div>
</div>
<br />
<br />

<div class="row" >
    <div class="col" style="padding: 2rem; border-radius: 7px;">

            <h2 style="font-weight: 700; line-height: 2.7rem;">1. Skapa ett burgar lag och käka tillsammans med dina kollegor eller vänner</h2>
            <br />
            <h2 style="font-weight: 700; line-height: 2.7rem;">2. Recensera tillsammans</h2>
            <br />
            <h2 style="font-weight: 700; line-height: 2.7rem;">3. Spara era favorithak!</h2>

    </div>

    <div class="col">
        <img src="../../static/images/burger3.png" class="teamwork-img rounded-border" width="600px" />
    </div>

</div>

<br />
<br />

<br />
<br />

<!-- map 
<div class="row">
    <div class="col-md">
        <iframe
        width="100%"
        height="270"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAtsW-C08J1KldnCW8Xl-jDORu8HH6uRzU&center=55.602990,13.001342&zoom=14&q=hamburgare+i+Malmö">
        </iframe>
    </div>
</div>

<br />
<br />-->

<div class="row text-center">
    <div class="col-md">
        <a href="{% url 'places' %}"><button type="button" class="btn btn-dark"> <h2 style="font-weight:bold">Vad väntar du på? Bli medlem och låt jakten börja!!</h2></button></a>
    </div>
</div>

<br />
<br />

{% endblock %}