
{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
    let displaySuggestions;

    function getAddress() {
        e = document.getElementsByClassName("address-suggestion");

        for(let i = 0; i < e.length; i++) {
            e[i].addEventListener("click", function() {
                value = e[i].innerText;
                document.getElementById("{{ placesForm.location.id_for_label }}").value = value;
                document.getElementById("pac-input").innerText = "";
            })
        }
    }

    function initService() {
        displaySuggestions = function (predictions, status) {
            if (status != google.maps.places.PlacesServiceStatus.OK || !predictions) {
                alert(status);
                return;
            }
    
            predictions.forEach((prediction) => {
                const li = document.createElement("li");

                li.className = "address-suggestion"
    
                li.appendChild(document.createTextNode(prediction.description));
                document.getElementById("pac-input").appendChild(li);
                getAddress();
            });
        };
    }
    
    function autocompleteme(){
        const service = new google.maps.places.AutocompleteService();
        value = document.getElementById("{{ placesForm.location.id_for_label }}").value;
        service.getQueryPredictions({ input: value }, displaySuggestions);
    }
    
    window.initService = initService;
    </script>

<div class="row">
    <div class="col-md-6">
        <h1>Skapa en recension</h1>
        <form method="post" enctype="multipart/form-data" class="g-3">
            {% csrf_token %}
            {{ placesForm.non_field_errors }}
            <div class="mb-3">
                {{ placesForm.name.errors }}
                <label for="{{ placesForm.name.id_for_label }}" class="form-label">Namn på burgarhak</label>
                <input type="text" name="{{ placesForm.name.html_name }}" class="form-control" id="{{ placesForm.name.id_for_label }}" required>   
            </div>

            <div class="mb-3">
                {{ placesForm.website.errors }}
                <label for="{{ placesForm.website.id_for_label }}" class="form-label">Hemsida</label>
                <input type="text" name="{{ placesForm.website.html_name }}" class="form-control" id="{{ placesForm.website.id_for_label }}" placeholder="">   
            </div>


            <div class="mb-3">
                {% if placesForm.location.errors %}
                    <label for="{{ placesForm.location.id_for_label }}" class="form-label" style="color: #d53343">Adress</label>
                    <input onfocus="autocompleteme()" type="text" name="{{ placesForm.location.html_name }}" class="form-control is-invalid" id="{{ placesForm.location.id_for_label }}" required>
                    <div id="pac-input"></div>
                    <div id="{{ placesForm.location.html_name }}-feedback" class="invalid-feedback">
                        {% for error in placesForm.location.errors  %}
                            {{error}}
                        {% endfor %}
                    </div>
                {% else %}
                <label for="{{ placesForm.location.id_for_label }}" class="form-label">Adress</label>
                <input onchange="autocompleteme()" type="text" name="{{ placesForm.location.html_name }}" class="form-control" id="{{ placesForm.location.id_for_label }}" required>
                <div id="pac-input"></div>
                {% endif %}
            </div>
              
            {{ reviewsForm.non_field_errors }}
            <div class="mb-3">
                {{ reviewsForm.review.errors }}
                <label for="{{ reviewsForm.review.id_for_label }}" class="form-label">Recension</label>
                <textarea class="form-control" name="{{ reviewsForm.review.html_name }}" id="{{ reviewsForm.review.id_for_label }}" rows="5" required></textarea>
            </div>

            <div class="mb-3">
                {% if reviewsForm.rating.errors %}
                <label for="{{ reviewsForm.rating.id_for_label }}" class="form-label" style="color: #d53343">Betyg <i>(1-5)</i></label>
                <input type="number" pattern="[1-5]" name="{{ reviewsForm.rating.html_name }}" class="form-control is-invalid" id="{{ reviewsForm.rating.id_for_label }}" required>
                <div id="{{ placesForm.location.html_name }}-feedback" class="invalid-feedback">
                    {% for error in reviewsForm.rating.errors  %}
                        {{error}}
                    {% endfor %}
                </div>
                {% else %}
                <label for="{{ reviewsForm.rating.id_for_label }}" class="form-label">Betyg <i>(1-5)</i></label>
                <input type="number" pattern="[1-5]" name="{{ reviewsForm.rating.html_name }}" class="form-control" id="{{ reviewsForm.rating.id_for_label }}" required>   
                {% endif %}
            </div>

            {{ photosForm.non_field_errors }}
            <div class="mb-3">
                {{ photosForm.photo.errors }}
                <label for="{{ photosForm.photo.id_for_label }}" class="form-label">Bilder</label>
                <input class="form-control" name="{{ photosForm.photo.html_name }}"" type="file" id="{{ photosForm.photo.id_for_label }}" multiple>
            </div>
              

        
            <input type="submit" class="btn btn-dark" style="font-weight: bold;" value="Skicka">
        </form>
        
    </div>
    <div class="col-md-6">

    </div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtsW-C08J1KldnCW8Xl-jDORu8HH6uRzU&libraries=places&callback=initService">
</script>




{% endblock %}