{% extends 'base.html' %}
{% block content %}
{% load static %}

<br />
<div class="row">
    <div class="col text-center">
        <h1 style="font-size: rem; font-weight: bold">{{places.name}}</h1>
        {% if request.user.is_authenticated %}
            {% if request.user == places.created_by %}
                <a class="btn btn-outline-primary btn-sm" href="#" role="button">Ändra</a>
                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ta bort
                  </button>
                  
                <br />

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <form method="post" action="{% url 'places-delete' places.id %}">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ta bort restaurang</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Är du säker på att du vill ta bort <strong>{{places.name}}</strong>?
                             
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                            <button type="submit" class="btn btn-danger">Jag är säker</button>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <br />
        <h5>{{places.location}}</h5>
        <h1>🍔🍔🍔🍔</h1>
        <br />
        <iframe
        id="map"
        width="100%"
        height="450px"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAtsW-C08J1KldnCW8Xl-jDORu8HH6uRzU&q={{places.location}}&zoom=19&language=se-SV">
        </iframe>

    </div>
</div>

<br />
<br />
{% for review in reviews %}
<div class="row">
    <div class="col-lg-1">
        <div style="width: 72px; height: 72px; border-radius: 100px; background: rgb(168, 187, 229); border: 1px solid #426e95"></div>
    </div>
    <div class="col-lg">
        {% if review.author.first_name %}
            <h6><strong>{{review.author.first_name}}</strong></h6>
        {% else %}
            <h6><strong>{{review.author}}</strong></h6>
        {% endif %}
        <p>{{review.review}}</p>
        <p>Betyg: {{review.rating}}</p>
    </div>
    {% if photos %}
        <div class="col-md">
            {% for photo in photos %}
                {% if photo.image %}
                    {% if photo.review == review %}
                        <img src="{{ photo.photo.url }}" width="150px"/>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>
<br />
<hr />
<br />
{% endfor %}
<br />

{% endblock %}